PORT=5000
JWT_SECRET=your_super_secret_key_here
# MongoDB (غير مستخدم حالياً)
MONGODB_URI=mongodb+srv://yahiapro400_dev-yy:LlzcYuTsObWG2R18@cluster0.3utho5p.mongodb.net/html-quiz?retryWrites=true&w=majority
# Supabase (البديل الجديد)
SUPABASE_URL=https://rnzimtbrklzdiosvznfi.supabase.co
SUPABASE_KEY=sb_publishable_4hyEyt36mXcFRzgUaCLk5g_3psmUvCe
WHATSAPP_NUMBER=201273445173
NODE_ENV=development
